.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  color: white;
  font-size: 175%;
  font-family: "Segoe UI";
}
.logo {
  /* width: 20%;
  height: 20%; */
}

.dbTable {
  font-size: 100%;
  width: 75%;
  border-bottom: 1px solid black;

  font: black;
  background-color: white;
  padding: 10px;
  text-align: center;
}
.dbColumns {
  /* border-bottom: 4px solid black; */
  background-color: #f3f3f3;
}
.dbRows {
  border-bottom: 1px solid #ebedf0;
  padding-bottom: 16px;
  padding-top: 16px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
